
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home {
    height: 100%;
}

.header {
    font-size: 2em;
    color: whitesmoke;
    text-align: center;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97%;
    flex-direction: column;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 200px;
}

a:link {
    color: whitesmoke;
    text-decoration: none;
}
a:visited {
    color: whitesmoke;
}
a:hover {
    font-style: italic;
}

#home-background-image {
    background-image: url('images/home-background-small.jpg'); 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;  
}

@media screen and (min-width: 600px) {
    #home-background-image {
        background-image: url('images/home-background-medium.jpg'); 
    }
}

@media screen and (min-width: 800px) {
    #home-background-image {
        background-image: url('images/home-background-large.jpg'); 
    }
}

/* icons */

svg {
    height: 24px;
    width: 24px;
    fill: whitesmoke;
}

.linkedin-link svg {
    border: 2px solid white;
    padding: 2px 3px;
    border-radius: 6px;
    height: 24px;
}

.email-link svg {
    margin-top: 1px;
}

/* footer */

.footer{
    text-align: center;
}

span {
    font-size: .7em;
    color:rgb(58, 59, 59);
}