* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
}

html,
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", sans-serif;
}

body {
  margin: 0 auto;
  width: min(100ch, 100vw - 2rem);
}

.page-container {
  width: 100%;
  line-height: 1.4;
}

/* ______________________ All Links and Icons______________________ */
.header-icons a:link,
.header-icons a:visited {
  color: black;
  text-decoration: none;
}

.portfolio-content a:link,
.portfolio-content a:visited,
.education-content a:link,
.education-content a:visited {
  color: blue;
  text-decoration: none;
}

.portfolio-content a:hover,
.header-icons a:hover,
.education-content a:hover {
  text-decoration: underline;
  color: blue;
}

svg {
  height: 18px;
  width: 16px;
  fill: black;
  margin: 0.2rem;
}

.email svg,
.website svg {
  margin-right: 5px;
}

.linkedin svg {
  height: 17px;
  width: 15px;
}

/* ______________________ Header______________________ */
header {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 1.5rem;
  color: black;
  text-align: center;
}

.header-icons {
  display: flex;
  width: 100%;
  margin: 3px 0 10px 0;
}

.icon-container {
  display: flex;
  width: 200px;
}

.website,
.email,
.location,
.linkedin,
.github {
  display: flex;
  align-items: end;
  padding: 0 5px;
}

.header-icons span {
  font-size: 1rem;
}

.temp-hide {
  display: none;
}

/* ______________________ Main______________________ */

main {
  height: 100%;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.1rem;
}

li,
p {
  font-size: 1rem;
}

.skills,
.portfolio,
.education,
hr {
  margin-top: 10px;
}

.about-content,
.skills-content,
.portfolio-content,
.education-content {
  margin-left: 10px;
}

.portfolio-content h3,
.education-content h3 {
  padding-top: 10px;
}

.about-content p,
.skills-content span {
  padding-top: 5px;
}

.skills-content span {
  display: flex;
  flex-wrap: unset;
}

.skills-content h3 {
  padding-right: 5px;
}

.portfolio-content li,
.education-content li {
  padding-top: 3px;
}

.portfolio-content ul,
.education-content ul {
  padding-left: 20px;
}

.portfolio-content span {
  font-size: 1rem;
  font-weight: normal;
}

.education-content a,
.portfolio-content .repo {
  font-size: 1rem;
}

.web-dev-left,
.learn-left {
  display: flex;
  flex-direction: column;
}

.web-dev-right,
.learn-right {
  display: flex;
  flex-direction: column;
}
.education-content {
  max-width: 700px;
}

.education {
  margin-bottom: 20px;
}
/* ______________________ Media Queries______________________ */

@media print {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .name {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
  }

  h3 {
    font-size: 15px;
  }

  p,
  li,
  .header-icons span,
  .skills-content span,
  .portfolio-content span,
  .education-content a,
  .portfolio-content .repo {
    font-size: 14px;
  }

  .temp-hide {
    display: flex;
  }

  .page-container {
    line-height: normal;
  }

  svg {
    height: 16px;
    width: 14px;
    margin: 0.1rem;
  }

  .web-dev-container,
  .learn-container {
    display: flex;
    justify-content: space-between;
    max-width: 650px;
  }

  .education {
    margin-bottom: 0;
  }
}

@media (min-width: 520px) {
  .icon-container {
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 650px) {
  .web-dev-container,
  .learn-container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .temp-hide {
    display: flex;
  }
}

/* removing hover from touch devices */
@media (hover: none) {
  .header-icons a:hover {
    color: black;
    text-decoration: none;
  }
}
